body 
{
	background-color:#EEEEFF;
	color: #444455;
	margin: 0 0 0 0;
	overflow: scroll;
}
li
{
	list-style-type: none; 
}
p
{
	text-align: left;
	color: #444455;
}
a
{
	text-align: left;
	color: #444455;
}
img
{
	text-decoration: none;
	border: none;
}
.link
{
	text-decoration: none;
	font-size: 15px;
	color: #000077;
	vertical-align: middle;
}
.smalltables
{
	border: 2px inset #999999;
	width: 100%;
}
.primarytitle
{
	font-size: 22px;
/* 	padding-bottom: 5px; */
	border-bottom:1px solid #999999; 
}
.secondarytitle
{
	font-size: 18px;
	text-align: left;
/* 	margin-bottom: 0px;
	margin-left:10px; */
}
#titlerow
{
	position: absolute;
	height: 10%;
	width: 100%;
 	border-bottom: 4px inset #999999; 
	background-color:#6677AA;
	color: #333344;
	font-size: 34px;
	font-weight: bold;
	vertical-align: middle;
}
#leftcolumn
{
 	position: absolute;
	top: 25%;
	height: 50%; 
	width: 20%;
	float: left;
	text-align: center;
	
	border: 1px solid #999999;
}
#centercolumn
{
 	position: absolute;
	top: 15%;
	left: 25%;
	height: 70%; 
	width: 60%;
	text-align: center;
	overflow:auto;
	border: 1px solid #999999;
}
#contactrow
{
	position: fixed;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-align: center;
	border-top: 1px solid #999999;
	overflow: hidden;
}
.nav
{
	text-decoration: none; 
	font-size: 17px;
 	color: #333344; 
 	display: block; 
	margin-top: 15px;
}
a.nav:link 
{ 
	color: #444455;
	text-decoration: none;
}	
a.nav:hover
{ 
	color: #ffffff;
}